<div class="container brand">
    <p class="lead">ELLIS Heidelberg comprises <strong>11 research groups</strong>.</p>
    <div class="container-fluid">
        <div class="row">
            {% for p in site.data.people %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 py-vw1">
                <a href="/people/#{{ p.name | slugify }}">
                    <div class="people-photowrap">
                        <div class="people-photo"><img src="/assets/img/{{ p.photo }}"></div>
                        <div class="people-name"><p>{{ p.name }}{% if p.role %}<br><span class="people-tag">{{ p.role | capitalize }}</span>{% endif %}</p></div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <a class="decorate-link" href="/people">People at ELLIS Heidelberg</a>
</div>
<br /><br /><br />
