<div class="container brand-institutes brand">
    <p class="lead"><strong>ELLIS Life Heidelberg is a partnership between 3 institutions in Heidelberg.</strong></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-12 dkfz institute-card">
                <a href="https://www.dkfz.de/" target="_blank" class="decorate-link">German Cancer Research Center (DKFZ)</a>
                <a href="https://www.dkfz.de/" target="_blank"><div class="img img-dkfz"></div></a>
            </div>
            <div class="col-lg-4 col-sm-12 embl institute-card">
                <a href="https://www.embl.de/" target="_blank" class="decorate-link">European Molecular Biology Laboratory (EMBL)</a>
                <a href="https://www.embl.de/" target="_blank"><div class="img img-embl"></div></a>
            </div>
            <div class="col-lg-4 col-sm-12 unihd institute-card">
                <a href="https://www.uni-heidelberg.de/" target="_blank" class="decorate-link">Heidelberg University</a>
                <a href="https://www.uni-heidelberg.de/" target="_blank"><div class="img img-unihd"></div></a>
            </div>
        </div>
    </div>
    <br>
</div>
<br /><br /><br />
