<div class="container brand text-center" id="header-main">
    <img id="header-img" src="/assets/img/brand-top.jpg">
    <div id="header-text">
        <div id="unit-focus">
    	    Artificial Intelligence
	    <br />
    	    & Life Sciences
        </div>
	<div id="unit-location">
		<span id="unit-header-1">ELLIS Unit</span>
		<span id="unit-subheader">European Laboratory for Learning and Intelligent Systems</span>
		<span id="unit-header-2">Heidelberg</span>
	</div>
    </div>
</div>
<br /><br />