<div class="container-fluid brand-research brand">
    <img src="/assets/img/brand-research.webp" class="rot-30 w-60">
    <div class="brand-research-text">
        <p class="lead">At ELLIS Heidelberg, we develop and employ<br>
            state-of-the-art <strong>machine learning</strong> methods<br>
            to extract <strong>knowledge</strong> from large &amp; complex<br>
            <strong>biological</strong> and <strong>biomedical</strong> datasets.<br>
        </p>
        <ul><li><a class="decorate-link" href="/research">Research at ELLIS Heidelberg</a></li></ul>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />