<div class="container brand-institutes brand decorate-link">
    <p class="lead"><strong>ELLIS Life Heidelberg is a partnership between 3 institutions in Heidelberg.</strong></p>
    <div class="container-fluid">
        <ul class="row">
            <li class="col-lg-4 col-sm-12 dkfz">
                <a href="https://www.dkfz.de/" target="_blank">
                <div class="img img-dkfz"></div>
                German Cancer Research Center (DKFZ)</a>
            </li>
            <li class="col-lg-4 col-sm-12 embl">
                <a href="https://www.embl.de/" target="_blank"><div class="img img-embl"></div>
                European Molecular Biology Laboratory (EMBL)</a>
            </li>
            <li class="col-lg-4 col-sm-12 unihd">
                <a href="https://www.uni-heidelberg.de/" target="_blank"><div class="img img-unihd"></div>
                Heidelberg University</a>
            </li>
        </ul>
    </div>
    <br>
</div>
<br /><br /><br />
