<div class="container brand">
    <p class="lead">ELLIS Heidelberg unites researchers<br>from <strong>11 research groups...</strong></p>
    <div class="container-fluid">
        <div class="row">
            {% for p in site.data.people %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="people-photo"><img src="/assets/img/{{ p.photo }}"></div>
                <div class="people-name"><p>{% if forloop.first == true %}<span class="people-tag">Director</span><br>{% endif %}{{ p.name }}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <ul><li><a href="/people">People of ELLIS Heidelberg</a></li></ul>
</div>
<br /><br /><br />