<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        {% for i in page.carousels %}
        <div class="carousel-item{% if forloop.first == true %} active{% endif %}">
            <!--
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
                <title> </title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"> </text>
            </svg>
            -->
            <div class="text-center my-3">
                <img src="{{ i.img }}" />
            </div>
            <div class="container">
                <div class="carousel-caption text-left">
                    {% if i.heading %}
                    <h1>{{ i.heading }}</h1>
                    {% endif %}
                    {% if i.subheading %}
                    <p>{{ i.subheading }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>