<div class="newest-post-wrapper container brand decorate-link">
    <div class="newest-post">
        {% for post in site.posts limit:1 %}
	<a href="{{ post.url }}">
		<p class="news-new">NEW</p>
		<h1>{{ post.title }}</h1>
		{% if post.event_title %}
            <h2>{{ post.event_title }}</h2>
        {% else %}
            <h2>{{ post.excerpt }}</h2>
        {% endif %}
	</a>
        {% endfor %}
    </div>
    <ul class="news-more">
        <li class="right-arrow"><a href="/news">All news & events</a></li>
    </ul>
</div>
<br /><br /><br />