html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  color: $dark;
  background: $bg;
}

header {
  background: white;
  border-bottom: 1px solid $lightgrey;
}

main {
  background: white;
  padding-bottom: 100px;
}

h1 {
  font-size: 30pt;
  font-weight: 700;
  transform: scaleX(1.1);
  transform-origin: 0;
  color: $leadgrey;
  margin-bottom: 50px;
  strong {
    font-size: 30pt;
    font-weight: 700;
    color: #333;
  }
}

h2 {
  font-size: 25pt;
  font-weight: 700;
  transform: scaleX(1.1);
  transform-origin: 0;
}

p {
  font-size: 14pt;
  font-weight: 300;
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  h1 {
    font-size: 30pt * 0.8;
    strong {
      font-size: 30pt * 0.8;
    }
  }
  h2 {
    font-size: 25pt * 0.8;
  }
  p {
    font-size: 14pt * 0.8;
  }  
}

table {
  width: 100%;
}

.decorate-link {
  color: $primary;
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid $primary;
  padding-bottom: 0;
  font-size: 1.19em;
  &:hover {
    border-bottom: 1px solid darken($primary, 15%);
    text-decoration: none;
  }
  &::after {
    content:' \203A'
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .decorate-link {
    font-size: 1.19em * $shrink-factor;
  }
}


.dkfz {
  color: $dkfzblue !important;
  a {
    color: $dkfzblue !important;
    border-bottom: 1px solid $dkfzblue !important;
    &:hover {
      border-bottom: 1px solid darken($dkfzblue, 15%) !important;
    }
  }
}

.embl {
  color: $emblgreen !important;
  a {
    color: $emblgreen !important;
    border-bottom: 1px solid $emblgreen !important;
    &:hover {
      border-bottom: 1px solid darken($emblgreen, 15%) !important;
    }
  }
}

.unihd {
  color: $unihdred !important;
  a {
    color: $unihdred !important;
    border-bottom: 1px solid $unihdred !important;
    &:hover {
      border-bottom: 1px solid darken($unihdred, 15%) !important;
    }
  }
}

.ellis-color-row {
  height: 5px;
  margin: 0;
}
.ellis-bg-red {
	background-color: #E48879;	
}
.ellis-bg-green {
	background-color: #C0EA96;
}
.ellis-bg-yellow {
	background-color: #F5E364;
}
.ellis-bg-orange {
	background-color: #E8A062;
}
.ellis-bg-blue {
	background-color: #83ADE5;
}

.py-vw1 {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.hr-primary {
  border: 1px solid $primary;
}
%hr-primary {
  border: 1px solid $primary;
}

.plain {
  color: $dark;
  &:hover {
    color: $dark;
  }
}