$primary: #B83374;
$primary-bg: #B8337444;
$dark: #555;
$bg: #3c3838;
$lightgrey: #ddd;
$leadgrey: #777;
$leadlightgrey: #AAA;
$leaddark: #333;
$container-max-widths: (
  xl: 1370px
);

$emblgreen: #12983C;
$dkfzblue: #0730BB;
$unihdred: #9E1212;

$shrink-factor: 0.8;
$shrink-factor-sm: 0.5;