footer {
  background-color: #3c3838;
  color: white;
  margin: 0;
  min-height: 300px;
  min-width: 100%;
  position: relative;

  #footer-logos {
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      font-size: 12pt;
      font-weight: 300;
      opacity: 0.8;
    }
    img {
      padding-top: 5px;
      height: 90px;
    }
  }
  
  .logo-wrap {
    text-align: center;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  footer {
    min-height: 650px;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

.footer-menu, .footer-head {
  min-width: 100%;
  position: relative;
  //img {
  //  -webkit-filter: grayscale(100%);
  //  filter: grayscale(100%);
  //}
}

.footer-menu {
  display: flex;
  .row {
    flex-direction: row;
    width: 100%;
    ul {
      max-width: 10em;
      // margin-right: 1em;
    }
  }
  // hr {
  //   display: inline-block;
  //   border-color: #fff;
  //   width: 100px;
  // }
}

.footer-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.footer-head img {
  image-rendering: crisp-edges;
  height: 50px;
  margin-right: 20px;
}

.flexline{
  flex-grow:1;
  height: 1px;
  background-color: #fff;
}

footer ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

footer li {
  font-size: 11pt;
  font-weight: 300;
  margin-top: 10px;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

footer .copyright {
  margin: 5em 0;
  font-size: 1em;
  opacity: .5;
  width: 100%;
}