// Common

.small-contact {
  font-size: 10pt;
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .brand {
    li {
      font-size: 1.3em * $shrink-factor;
    }
  }
}

// Main page headline

$header-img-max-height: 35rem;
$header-unit-focus-font-size: 3.6rem;
$header-unit-focus-padding-top: 3rem;
$header-unit-location-padding-top: 7rem;
$header-unit-header-1-font-size: 2rem;
$header-unit-header-1-line-height: 2rem;
$header-unit-header-1-padding-top: 1rem;
$header-unit-subheader-font-size: 0.8rem;
$header-unit-subheader-line-height: 1rem;
$header-unit-header-2-font-size: 4.2rem;
$header-unit-header-2-line-height: 4.4rem;

#header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: map-get($grid-breakpoints, "xl");
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.35), rgba(0,0,0,0.3)), url('/assets/img/brand-top-long.jpg');
  #header-text {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    .lead {
      color: #fff;
      transform-origin: 50%;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
  #header-main {
    width: 100%;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  #header-main {
    width: 100%;
    #header-img {
      max-height: $header-img-max-height * $shrink-factor;
    }
    #header-text {
      #unit-focus {
        font-size: $header-unit-focus-font-size * $shrink-factor;
        padding-top: $header-unit-focus-padding-top * $shrink-factor;
      }
      #unit-location {
        padding-top: $header-unit-location-padding-top * $shrink-factor;
        margin-left: 30%;
        #unit-header-1 {
          font-size: $header-unit-header-1-font-size * $shrink-factor;
          line-height: $header-unit-header-1-line-height * $shrink-factor;
          padding-top: $header-unit-header-1-padding-top * $shrink-factor;
        }
        #unit-subheader {
          font-size: $header-unit-subheader-font-size * $shrink-factor;
          line-height: $header-unit-subheader-line-height * $shrink-factor;
        }
        #unit-header-2 {
          font-size: $header-unit-header-2-font-size * $shrink-factor;
          line-height: $header-unit-header-2-line-height * $shrink-factor;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  #header-main {
    display: none;
  }
}

//.carousel-inner img {
//  height: 525px;
//}

#brand-logos {
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  p {
    font-size: 12pt;
    font-weight: 300;
    opacity: 0.8;
  }
  img {
    padding-top: 5px;
    height: 90px;
  }
}

// Main page news
.newest-post-wrapper {
  max-width: 1040px;
  .newest-post {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid $primary;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: transform .3s ease-out;
    .news-new {
      font-weight: 700;
      font-size: .8em;
      color: $primary;
      margin: 0;
      padding: 0 .5em;
      line-height: 1.5;
      background: $primary-bg;
      border-radius: .5em;
      display: inline-block;
    }
    h1 {
      font-weight: 700;
      font-size: 1.5em;
      color: $dark;
      margin-bottom: 1em;
      a {
        color: inherit;
      }
    }    
    h2 {
      font-weight: 300;
      font-size: 1.3em;
    }    
    a {
        padding: 1.5em 3em;
        display: block;
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  .news-more {
    margin: 10px 0 0 10px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .newest-post-wrapper {
    .newest-post {
      .news-new {
        font-size: .8em * $shrink-factor;
      }
      h1 {
        font-size: 1.5em * $shrink-factor;
        margin-bottom: 1em * $shrink-factor;
      }    
      h2 {
        font-size: 1.3em * $shrink-factor;
      }    
    }
  }
}

// Main page research
.brand-research {
  position: relative;
  img {
    left: -10vw;
  }
  .brand-research-text {
    position: absolute;
    right: 7%;
    top: 38%;
    a {
      font-size: 1.1em;
    }
  }  
  .rot-30 {
    transform: rotate(30deg);
    transform-origin: 30% 70%;
  }
  
  .w-60 {
    width: 60%;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
  .brand-research {
    .brand-research-text {
      margin-top: 55px;
      position: relative;
      right: auto;
      top: auto;
    }  
    .w-60 {
      width: 100%;
    }
    .lead {
      font-size: 2.2em;
      padding-top: 50px;
      transform-origin: 50%;
      text-align: center;
    }
    ul li {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1700px) {
  .brand-research {
    .lead {
      font-size: 1.8em;
    }
  }
}

@media screen and (max-width: 1400px) {
  .brand-research {
    .lead {
      font-size: 1.5em;
    }
  }
}


.lead {
  font-size: 2.2em;
  font-weight: 700;
  transform: scaleX(1.1);
  transform-origin: 0;
  line-height: 120%;
  color: $leadgrey;
  strong {
    font-weight: inherit;
    color: $leaddark;
  }
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $leadlightgrey;
    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
}



@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
  .lead {
    font-size: 2.2em * $shrink-factor !important;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .lead {
    font-size: 2.2em * $shrink-factor-sm !important;
  }
}

// Main page people / people page 
.people-photowrap {
  .people-photo {
    float: left;
    img {
      width: 100px;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
  }
  .people-name {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1vw;
    color: $dark;
    p {
      margin: 0;
      font-size: 14pt;
      font-weight: 300;
      line-height: 1.3;
    }
  }
  .people-tag {
    font-weight: 700;
    font-size: 10pt;
    color: $dark;
  }
}

// Main page institutes
.brand-institutes {
  .institute-card {
    margin: 0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    transition: transform .2s ease-out;
    &:hover {
      transition: transform .5s ease-out;
      transform: scale(1.01);
      .img {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all .5s ease-out;
        &:before {
          content: "";
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: .05;
        }
      }
    }
    .img {
      width: 100%;
      height: 580px;
      border-radius: 10px;
      margin-top: 15px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
    .img-dkfz {
      background-image: url('/assets/img/dkfz.jpg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: top;
      &:before {
        background-color: $dkfzblue;
      }
    }
    
    .img-embl {
      background-image: url('/assets/img/embl.jpg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: top;
      &:before {
        background-color: $emblgreen;
      }
    }
    
    .img-unihd {
      background-image: url('/assets/img/uni-hd.jpg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: top;
      &:before {
        background-color: $unihdred;
      }
    }      
  }
}

// people page
.people-photowrap {
  height: 100px;
  width: 300px;
}

.people-below {
  font-size: 11pt !important;
  font-weight: 600;
}

.people-tile {
  &:not(:last-child) {
    margin-bottom: 8em;
  }
  hr {
    border: 1px solid #EEE;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    hr {
      @extend %hr-primary;
    }
  }
}

// news page
.news-tile {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
  hr {
    margin-bottom: 0;
    border: 1px solid #EEE;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    hr {
      @extend %hr-primary;
    }
  }
  a {
    color: $leadgrey;
    &:hover {
      color: $primary;
    }
    text-decoration: none;
    //border-bottom: 1px solid $leadlightgrey;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
  p {
    text-align: left;
  }
  .date {
    font-size: 1.2em;
    font-weight: 400;
    color: $leadgrey;
    margin-top: 10px;
  }
}

.event-info {
  h2 {
    margin-bottom: 0;
  }
  .future-date {
    color: $primary;
  }  
  .event-subtitle {
    font-size: 1.5em;
    font-weight: 800;
    color: $leadlightgrey;
  }
  .event-person {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 600;
  }
  .event-date {
    font-size: 1.3em;
  }
  .event-poster {
    display: block;
    max-width: 50%;
    margin: 3em 0;
    border-radius: 2em;
    box-shadow: 0 .1em .2em $leadlightgrey;
    
    @media screen and (max-width: map-get($grid-breakpoints, "md")) {
      max-width: 100%;
    }
  }
  .event-link {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 2em;
    text-decoration: none;
    border-bottom: 1px solid lighten($primary, 40%);
    &:hover {
      border-bottom: 1px solid darken($primary, 15%);
    }
  }
}

// Contact page
.contact-photo {
  float: left;
  img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
