---
---

$primary: #B83374;
$primary-bg: #B8337444;
$dark: #555;
$bg: #3c3838;
$leadgrey: #777;
$leadlightgrey: #AAA;
$leaddark: #333;
$container-max-widths: (
  xl: 1370px
);

$emblgreen: #12983C;
$dkfzblue: #0730BB;
$unihdred: #9E1212;

@import 'bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  color: $dark;
  background: $bg;
}

header {
  background: white;
}

main {
  background: white;
  padding-bottom: 100px;
}

h1 {
  font-size: 30pt;
  font-weight: 700;
  transform: scaleX(1.1);
  transform-origin: 0;
  color: #777;
  margin-bottom: 50px;
}

h2 {
  font-size: 25pt;
  font-weight: 700;
  transform: scaleX(1.1);
  transform-origin: 0;
}

p {
  font-size: 14pt;
  font-weight: 300;
}

h1 strong {
  font-size: 30pt;
  font-weight: 700;
  color: #333;
}

.decorate-link ul {
  list-style: none;
  padding-left: 0;
}

.decorate-link li {
  list-style: none;
  color: $primary;
  margin-bottom: 10px;
  font-weight: 600;
}

.decorate-link li::after {
  content:' \203A'
}

.decorate-link li a {
  border-bottom: 1px solid $primary;
  padding-bottom: 0;
}

.decorate-link li a:hover {
  border-bottom: 1px solid darken($primary, 15%);
  text-decoration: none;
}

.brand ul {
  flex-direction: row;
  display: flex;
}

.brand li {
  margin-right: 3vw;
  font-size: 0.9vw;
  float: left;
  z-index: 99999;
}

.dkfz {
  color: $dkfzblue !important;
}

.dkfz a {
  color: $dkfzblue !important;
  border-bottom: 1px solid $dkfzblue !important;
}

.dkfz a:hover {
  border-bottom: 1px solid darken($dkfzblue, 15%) !important;
}

.embl {
  color: $emblgreen !important;
}

.embl a {
  color: $emblgreen !important;
  border-bottom: 1px solid $emblgreen !important;
}

.embl a:hover {
  border-bottom: 1px solid darken($emblgreen, 15%) !important;
}

.unihd {
  color: $unihdred !important;
}

.unihd a {
  color: $unihdred !important;
  border-bottom: 1px solid $unihdred !important;
}

.unihd a:hover {
  border-bottom: 1px solid darken($unihdred, 15%) !important;
}

.ellis-color-row {
  height: 5px;
  margin: 0;
}
.ellis-bg-red {
	background-color: #E48879;	
}
.ellis-bg-green {
	background-color: #C0EA96;
}
.ellis-bg-yellow {
	background-color: #F5E364;
}
.ellis-bg-orange {
	background-color: #E8A062;
}
.ellis-bg-blue {
	background-color: #83ADE5;
}
.navbar-collapse {
  background-color: white;
}
.navbar {
  z-index: 99999;
}
.navbar-brand {
  margin-right: 0.5em;
}
.navbar-brand img {
  image-rendering: crisp-edges;
  height: 50px;
  user-drag: none; 
  -webkit-user-drag: none;
  user-select: none;
}
.nav-link {
  font-size: 13pt;
}

#navbar-top {
  #navbarCollapse {
    .active {
      a {
        padding-bottom: .2em;
        color: $primary;
        // &:after {
        //   content: "";
        //   display: block;
        //   position: relative;
        //   width: 1.5em;
        //   height: .3em;
        //   background-color: $primary;
        //   border-radius: 5em;
        //   margin: 0 auto;
        // }
        border-bottom: .2em solid $primary;
      }
    }
  }
}

.newest-post-wrapper {
  max-width: 1040px;
}

.newest-post {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid $primary;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: transform .3s ease-out;
  a {
	  padding: 1.5em 3em;
	  display: block;
	  text-decoration: none;
	  color: inherit;
  }
  &:hover {
	  transform: scale(1.02);
	  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.news-new {
  font-weight: 700;
  font-size: .8em;
  color: $primary;
  margin: 0;
  padding: 0 .5em;
  line-height: 1.5;
  background: $primary-bg;
  border-radius: .5em;
  display: inline-block;
}

.newest-post h1 {
  font-weight: 700;
  font-size: 1.5em;
  color: #555;
  margin-bottom: 1em;
}

.newest-post h1 a {
  color: inherit;
}

.newest-post h2 {
  margin-top: 1vw;
  font-weight: 300;
  font-size: 1vw;
}

.news-more {
  margin: 10px 0 0 10px;
}

.brand-research {
  position: relative;
}

.rot-30 {
  transform: rotate(30deg);
  transform-origin: 30% 70%;
}

.w-60 {
  width: 60%;
}

.brand-research-text {
  position: absolute;
  right: 7%;
  top: 38%;
}

.lead {
  font-size: 2vw;
  font-weight: 700;
  transform: scaleX(1.1);
  transform-origin: 0;
  line-height: 120%;
  color: $leadgrey;
}

.lead strong {
  font-weight: inherit;
  color: $leaddark;
}

.lead a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $leadlightgrey;

  &:hover {
    color: $primary;
    border-bottom: 1px solid $primary;
  }
}

.brand-research-text a {
  font-size: 1vw;
}

.people-photo {
  float: left;
}

.people-photo img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.people-name {
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 1vw;
}

.people-name p {
  margin: 0;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.3;
}

.people-tag {
  font-weight: 700;
  font-size: 10pt;
}

.brand-institutes {
  li {
    padding-top: 1em;
    padding-bottom: 2em;
    transition: transform .2s ease-out;
    &:hover {
      transition: transform .5s ease-out;
      transform: scale(1.01);
      .img {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all .5s ease-out;
        &:before {
          content: "";
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: .05;
        }
      }
      .img-dkfz:before {
        background-color: $dkfzblue;
      }
      .img-embl:before {
        background-color: $emblgreen;
      }
      .img-unihd:before {
        background-color: $unihdred;
      }
    }
    .img {
      width: 100%;
      height: 580px;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.img-dkfz {
  background-image: url('/assets/img/dkfz.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.img-embl {
  background-image: url('/assets/img/embl.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.img-unihd {
  background-image: url('/assets/img/uni-hd.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.brand-institutes li {
  margin: 0;
  text-align: center;
}

footer {
  background-color: #3c3838;
  color: white;
  margin: 0;
  min-height: 300px;
  min-width: 100%;
  position: relative;
}

@media screen and (max-width: 768px)  {
  footer {
    min-height: 650px;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

.footer-menu, .footer-head {
  min-width: 100%;
  position: relative;
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.footer-menu {
  display: flex;
  .row {
    flex-direction: row;
    width: 100%;
    ul {
      max-width: 10em;
      // margin-right: 1em;
    }
  }
  // hr {
  //   display: inline-block;
  //   border-color: #fff;
  //   width: 100px;
  // }
}

.footer-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.footer-head img {
  image-rendering: crisp-edges;
  height: 50px;
  margin-right: 20px;
}

.flexline{
  flex-grow:1;
  height: 1px;
  background-color: #fff;
}

footer ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

footer li {
  font-size: 11pt;
  font-weight: 300;
  margin-top: 10px;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

footer .copyright {
  display: flex;
  margin: 5em 0;
  font-size: 1em;
  opacity: .5;
}

.hr-primary {
  border: 1px solid $primary;
}
%hr-primary {
  border: 1px solid $primary;
}

.plain {
  color: #555;
}

.plain:hover {
  color: #555;
}

.date {
  font-size: 1.2em;
  font-weight: 400;
  color: #777;
  margin-top: 10px;
}

.future-date {
  color: $primary;
}

.carousel-inner img {
  height: 525px;
}

.people-photowrap {
  height: 100px;
}

.py-vw1 {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.people-description p {
  font-size: 12pt !important;
}

.people-below {
  font-size: 11pt !important;
  font-weight: 600;
}

.people-tile {
  &:not(:last-child) {
    margin-bottom: 8em;
  }
  hr {
    border: 1px solid #EEE;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    hr {
      @extend %hr-primary;
    }
  }
}

.news-tile {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
  hr {
    margin-bottom: 0;
    border: 1px solid #EEE;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    hr {
      @extend %hr-primary;
    }
  }
  a {
    color: $leadgrey;
    &:hover {
      color: $primary;
    }
    text-decoration: none;
    border-bottom: 1px solid $leadlightgrey;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
  p {
    text-align: left;
  }
}

.event-info {
  h2 {
    margin-bottom: 0;
  }
  .event-subtitle {
    font-size: 1.5em;
    font-weight: 800;
    color: $leadlightgrey;
  }
  .event-person {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 600;
  }
  .event-date {
    font-size: 1.3em;
  }
  .event-poster {
    display: block;
    max-width: 50%;
    margin: 3em 0;
    border-radius: 2em;
    box-shadow: 0 .1em .2em $leadlightgrey;
    
    @media screen and (max-width: 768px)  {
      max-width: 100%;
    }
  }
  .event-link {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 2em;
    text-decoration: none;
    border-bottom: 1px solid lighten($primary, 40%);
    &:hover {
      border-bottom: 1px solid darken($primary, 15%);
    }
  }
}

#header-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	user-select: none;
	#header-img {
    align-self: flex-start;
		width: 80%;
    height: auto;
    max-height: 100vh;
		z-index: 1;
		height: auto;
		object-fit: contain;
		user-drag: none; 
		-webkit-user-drag: none;
	}
	#header-text {
		font-variant-ligatures: none;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		position: relative;
		margin-left: -50%;
		text-align: right;
		z-index: 99;
		#unit-focus {
			color: #333333;
			font-weight: 800;
			font-size: 5rem;
			text-shadow: 1px 1px 3px #00000099;
			padding-top: 3rem;
		}
		#unit-location {
			display: flex;
			flex-direction: column;
			padding-top: 8rem;
			margin-left: 30%;
			#unit-header-1 {
				color: $primary;
				font-weight: 400;
				font-size: 2.5rem;
				line-height: 2.5rem;
				text-shadow: 1px 1px 1px #00000055;
				padding-top: 1rem;
			}
			#unit-subheader {
				color: #00000077;
				font-size: 1rem;
				line-height: 1rem;
			}
			#unit-header-2 {
				color: $primary;
				font-weight: 800;
				font-size: 5.2rem;
				line-height: 5.5rem;
				text-shadow: 1px 1px 1px #00000055;
			}
		}
	}
}
